@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  width: 100%;
}

html {
  @apply h-full overflow-hidden bg-white;
}

body, #svelte {
  @apply h-full overflow-hidden relative;
}

  /* Hide scrollbar for Chrome, Safari and Opera */
  /* .sidebar::-webkit-scrollbar {
    display: none;
  } */

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-[#edeff1];
    /* opacity: 0; */
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#caced7];
    /* background: rgb(136, 136, 136); */
    /* border-radius: 10px; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#a8aeba];
    /* border-radius: 10px; */
  }

  .scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-[#858e9f];
    /* border-radius: 10px; */
  }